.flex {
  flex-direction: column;
  width: 418px;
  height: 316px;
  gap: 24px;
  top: 20%;
  position: absolute;
}

.categoryimg {
  width: 140px;
  height: 140px;
}
.text {
  font-weight: 400;
  font-size: 16px;
}
.Button {
  background-color: #24be67;
}
.head {
  font-size: 24px;
  font-weight: 600;
  padding-top: 26px;
  padding-left: 24px;
}

.mainHead {
  height: calc(100vh);
}

.Action {
  background-color: #f6ffed;
  color: black;
  border-radius: 8px;
  border: 1px solid;
  border-color: #24be67;
}
.drawerMain {
  margin-top: 32px;
  margin-left: 24px;
  margin-right: 24px;
}

.imageupload {
  border: 1px dashed green;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 15px;
}

.textform {
  font-size: 16px;
  font-weight: 400;
  padding-left: 24px;
}

.dropzone {
  border: 1px dashed #24be67;
  height: 64px;
  align-items: center;
  cursor: pointer;
  margin-left: 24px;
  border-radius: 8px;
}

.dropzoneitem {
  padding-top: 16px;
  padding-bottom: 12px;
}

.cancel {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  width: 140px;
  border-radius: 8px;
}
.save {
  background-color: #24be67;
  width: 140px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
  height: 80px;
  width: 100%;
  border-top: 1px solid;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.tr {
  padding: 8px;
  border: 1px solid #f0f0f0;
  background-color: #f6f6f6;
}

.export {
  width:  104px;
  height:  40px;
  padding: 0px 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid black;
  opacity: 0px;
  color: black;
  background-color: #d9d9d9;
}
