
.box1 {
    width: 453px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
  .box2 {
    height: screen;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .form{
    width:493px;
    display: flex;
    flex-direction: column;
    padding: auto;
    gap: 12px;
  }
   