.navbar {
  width: 240px;
  background: var(--Colors-Neutral-Bg-colorBgLayout, rgba(245, 245, 245, 1));
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); */
}

/* .image {
    width: 98.2px;
    height:24px;
  } */

.general{
  margin-top: 40px;
  padding-right: 16px;
  padding-left: 10px;
}
.management {
  margin-top: 40px;
  padding-right: 16px;
  padding-left: 10px;
}
.others{
  margin-top: 60px;
  padding-right: 16px;
  padding-left: 10px;
}

.textSection {
  font-size: 14px;
  font-weight: 500;
  line-height: 0px;
  /* font-weight: bold; */
  
  color: var(--Colors-Neutral-Text-colorTextSecondary, rgba(0, 0, 0, 0.65));

  margin-bottom: 10px;
}


.navItem {
  display: flex;
  align-items: center;
  padding: 8px ;
  border-radius: 5px;
  cursor: pointer;
  color: #71777b;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

.navItem:hover,
.active {
  background-color: #e9f5ee;
  color: #28a745;
}

.navIcon {
  
  color: #6c757d;
  transition: color 0.2s ease;
}

.active .navIcon,
.navItem:hover .navIcon {
  color: #28a745;
}

.submenu {
  /* margin-left: 20px; */
  /* margin-top: 10px; */
}

.submenuItem {
  padding: 5px 25px;
  font-family:sans-serif;
  font-weight: 500;
  color: #6c757d;
}

.submenuItem:hover {
  color: #28a745;
}
